<div id="home" class="big-bg">
  <div class="home-content wrapper">
      <h2 class="page-title">We'll Make Your Day</h2>
      <p>おしゃれなカフェで癒やされてみませんか？無添加の食材で体の中からリフレッシュ。</p>
      <%= link_to 'メニューを見る', '/menus', {class: "button"} %>
  </div><!-- /.home-content -->
</div><!-- /#home -->
